<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/script.js" defer></script>
	<link rel="stylesheet" href="/styles.css">
	<title><%= title %></title>
</head>
<body>
  <header>
		<h1><a href="/">The *** Club</a></h1>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <% if (currentUser) { %>
          <li><a href="/messages">MESSAGES</a></li>
          <li><a href="/auth/logout">LOGOUT</a></li>
        <% } else { %>
          <li><a href="/auth/register">REGISTER</a></li>
          <li><a href="/auth/login">LOG IN</a></li>
        <% } %>
      </ul>
    </nav>
	</header>