<form action="/join-club" method="post" class="auth-form">
    <div class="form-group">
      <label for="passcode">Secret Passcode</label>
      <input type="password" name="passcode" id="passcode" required>
    </div>
    <button type="submit" class="btn-primary">Submit</button>
</form>