<form action="/join-club" method="post" class="auth-form">
    <div class="form-group">
      <label for="passcode">What is the greatest sci-fi film of all time?</label>
      <input type="password" name="passcode" id="passcode" required>
    </div>
    <button type="submit" class="btn-primary">Submit</button>
</form>