<%- include('../partials/header') %>
<main class="container">
  <h1>Log In</h1>
  <% if (locals.errors && errors.length > 0) { %>
    <ul class="error-list">
      <% errors.forEach((error) => { %>
        <li><%= error %></li>
      <% }); %>
    </ul>
  <% } %>
  <%- include('../partials/loginForm') %>
  <p>Don't have an account? <a href="/auth/register">REGISTER HERE</a></p>
</main>
<%- include('../partials/footer') %>