<%- include('../partials/header') %>
<main class="container">
  <h1>New Message</h1>
  <% if (locals.errors) { %>
    <ul class="error-list">
      <% errors.forEach((error) => { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>
  <%- include('../partials/messageForm') %>
  <p><a href="/">CANCEL AND GO BACK</a></p>
</main>
<%- include('../partials/footer') %>